<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">

            <!-- Wheel Information -->
            <left_joint>wheel_fl_joint</left_joint>
            <left_joint>wheel_rl_joint</left_joint>
            <right_joint>wheel_fr_joint</right_joint>
            <right_joint>wheel_rr_joint</right_joint>
            <wheel_separation>0.741</wheel_separation>
            <wheel_radius>0.163</wheel_radius>


            <!-- Limits -->
            <!-- <max_wheel_torque>200</max_wheel_torque> -->
            <!-- <max_linear_acceleration>0.33</max_linear_acceleration> -->

            <!-- Input -->
            <topic>cmd_vel</topic>

            
            <!-- Output -->
            <!-- <frame_id>gz_odom</frame_id> -->
            <child_frame_id>base_link</child_frame_id>
            <!-- <odom_topic>/gz_odom</odom_topic> -->
            <odom_publish_frequency>30</odom_publish_frequency>
            
            <tf_topic>/tf</tf_topic>

        </plugin>

        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>wheel_fl_joint</joint_name>
            <joint_name>wheel_rl_joint</joint_name>
            <joint_name>wheel_fr_joint</joint_name>
            <joint_name>wheel_rr_joint</joint_name>
            <update_rate>30</update_rate>
        </plugin>
    </gazebo>


</robot>